* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
h1 {
   color: red;
}
/* responsive */
@media screen {
   /* Hello Mediaa */
}

p {
<<<<<<< HEAD
   color: violet;
}
a {
   color: bisque;
=======
   color: black;
>>>>>>> fix-css
}